<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<thead>
<tr>
    <td>First name</td>
    <td>Last name</td>
    <td>Age</td>
    <td>Gender</td>
</tr></thead>
<tbody>
<tr>
    <td th:text="${menlist.}"></td>
    <td>Last name</td>
    <td>Age</td>
    <td>Gender</td>
</tr><tr>
    <td>First name</td>
    <td>Last name</td>
    <td>Age</td>
    <td>Gender</td>
</tr><tr>
    <td>First name</td>
    <td>Last name</td>
    <td>Age</td>
    <td>Gender</td>
</tr>



</tbody>
</body>
</html>